 /*@import "node_modules/bootstrap/dist/css/bootstrap.css"*/
body {
    background-image: url("./assets/images/photo-1599441959923-efb884063c45.jpeg");
    color: #121013;
}
h1{
    text-align: center;
    font-size: 40px;
}
h1:hover {
    color: yellow;
}
.footer-copyright{
    color: aliceblue;
}